
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  z-index:1;
  overflow: hidden;
  width: 100%;
  padding-bottom: 90px;
  padding-top: 90px;
}

.kaufman__triangle {
  background-image: url(./../../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  z-index:-1;
  width: 877px;
  min-height: 877px;
  animation: rotation 20s linear infinite;
}


/* @import url(./__triangle/kaufman__triangle.css); */