
@import url(./__author/footer__author.css);
@import url(./__column/footer__columns.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__columns/footer__columns.css);
@import url(./__link/footer__link.css);
@import url(./__social-icon/footer__social-icon.css);

.footer {
  min-height: 350px;
  box-sizing: border-box;
  background-color:#1f1f1f;
  color: #f2f2f2;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  min-height: 250px;  

}

