.footer__column-links { 
  text-decoration: none;
  font-weight: lighter;
  color: white;
  line-height: 30px;
  font-size: 18px;
  padding-left: 0;
  margin: 20px 0 16px;
  list-style-type:none;
  list-style-position: outside;

}

.footer__column-links:hover {
  opacity: 0.5;
}
