.khan__buy-link {
  display: inline-block;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition-property: opacity;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
